@mixin form-style {
  background-color: $form-background;
  border: 1px solid $border-color;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;

  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
  }

  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

@mixin occurrence-style {
  background-color: $form-background;
  border: 1px solid $border-color;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;

  h2 {
    color: $primary-color;
  }

  span {
    color: gray;
    font-size: 0.9em;
  }
}
